<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <% include menu %>
    <% entries.forEach((entry) => { %>
    <div class='entry'>
        <h3>标题: <%= entry.title %></h3>
        <p>内容：<%= entry.body %></p>
        <p>Posted by <%= entry.username %></p>
    </div>
    <% }) %>
</body>

</html>